/* Empty. Add your own CSS if you like */
.item-remove-animate.item-icon-right.searchitem > a.item-content{
	padding: 0 0 0 0;
}

.list.card.wardrobe_item {
	margin-left: 20px;
	margin-right: 20px;
}

ion-view > ion-content.padding.scroll-content.ionic-scroll.has-header.has-tabs {
	padding: 0 0 0 0;
}

label.texta {
	height: 100px;
}

label.texta > textarea{
	height: 50px;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:100%;
	margin:0 0 0 0;
	border: 1px solid rgba(245, 149, 172, 0.52);
	padding:0;
}

.messages div {
	background:#F1F0F5;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.message_username span{
	color: #4986D0;
}

.scroll-content {
    background: url("../pics/concrete_seamless.png") 
}

.item-stacked-label input, .item-stacked-label textarea{
	background-color:transparent;
}

.button.button-full.button-clear.button-dark {
	margin: 0;
}

.bar.bar-calm{
	border-color: rgba(199, 165, 139, 0.63);
	background-color: #f3a8b9;
	background-image: linear-gradient(0deg, #c78981, #c79891 50%, transparent 50%);
	color: #fff; 
}

.bar-calm .button{
	border-color: rgba(199, 165, 139, 0.63);
	background-color: #f3a8b9;
	color: #fff;	
}

.policies{
	font-size: 12px;
}

.subs{
	font-size: 14px;
	color: #A09999;
}

.button.login_button{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.button.login_button.activated{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.item-remove-animate.item-icon-right.searchitem{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.white-background{
	background-color: rgba(255,255,255,0.75);
}

.full-white-background{
	background-color: rgb(255,255,255);;
}

.button.logout_button{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.button.logout_button.activated{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.clothing-selector{
	max-width: 60px;
	max-height: 60px;
	width: 100%;
	border-radius: 50%; 
}

/*Products styling*/

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

.active .modal-backdrop-bg {
    opacity: .5;
  }
 
.modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.slide_image{
	vertical-align: middle;
}

.feed_action{
	color: #f5312f;
}

.feed_outfit{
	font-style: italic;
}

.button.find_button{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 60%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.button.find_button.activated{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 60%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.button-bar > .button.outfit_actions{
	background-color: rgba(248, 248, 248, 1);
border-color: rgba(85, 71, 54, 0.3);
color:rgba(55, 46, 35, 0.8);
width: 60%;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); 
border-right-width: 0px; 
   border-radius: 0px 0px 0px 0px;
   border-left-width: 0px;
}

.button-bar > .button.outfit_actions.activated{
	background-color: rgba(248, 248, 248, 1);
border-color: rgba(85, 71, 54, 0.3);
color:rgba(55, 46, 35, 0.8);
width: 60%;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); 
border-right-width: 0px; 
   border-radius: 0px 0px 0px 0px;
   border-left-width: 0px;
}