/* Empty. Add your own CSS if you like */
.item-remove-animate.item-icon-right.searchitem > a.item-content{
	padding: 0 0 0 0;
}

.list.card.wardrobe_item {
	margin-left: 20px;
	margin-right: 20px;
}

ion-view > ion-content.padding.scroll-content.ionic-scroll.has-header.has-tabs {
	padding: 0 0 0 0;
}

label.texta {
	height: 100px;
}

label.texta > textarea{
	height: 50px;
}