/* Empty. Add your own CSS if you like */
.item-remove-animate.item-icon-right.searchitem > a.item-content{
	padding: 0 0 0 0;
}

.list.card.wardrobe_item {
	margin-left: 20px;
	margin-right: 20px;
}

ion-view > ion-content.padding.scroll-content.ionic-scroll.has-header.has-tabs {
	padding: 0 0 0 0;
}

label.texta {
	height: 100px;
}

label.texta > textarea{
	height: 50px;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:100%;
	margin:0 0 0 0;
	border: 1px solid rgba(245, 149, 172, 0.52);
	padding:0;
}

.messages div {
	background:#F1F0F5;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.message_username span{
	color: #4986D0;
}

.scroll-content {
    background: url("../pics/concrete_wall_2.png") 
}

.item-stacked-label input, .item-stacked-label textarea{
	background-color:transparent;
}

.button.button-full.button-clear.button-dark {
	margin: 0;
}

.bar.bar-calm{
	border-color: rgba(199, 165, 139, 0.63);
	background-color: #f3a8b9;
	background-image: linear-gradient(0deg, #c78981, #c79891 50%, transparent 50%);
	color: #fff; 
}

.bar-calm .button{
	border-color: rgba(199, 165, 139, 0.63);
	background-color: #f3a8b9;
	color: #fff;	
}

.policies{
	font-size: 12px;
}

.subs{
	font-size: 14px;
	color: #A09999;
}

.button.login_button{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.button.login_button.activated{
	background-color: #f5be9a;
	border-color: #e0bb8d;
	width: 75%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	font-weight: bold;
}

.item-remove-animate.item-icon-right.searchitem{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
