<ion-view view-title="Register">
  <ion-content>
    <div class="list card">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" ng-model="username" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="email" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password (min. 6 characters)</span>
        <input type="password" ng-model="password1" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirm password</span>
        <input type="password" ng-model="password2" placeholder="">
      </label>
    </div>
  <button class="button button-block button-positive" ng-click="register(email,password1,password2)">
  		Sign up
  </button>
  </ion-content>
  <ion-footer-bar>
    <center class="policies">By signing in you agree to Fashion Advisor's <a href="#">privacy policy</a>, <a href="#">cookie policy</a> & <a href="#">terms of service</a>.</center>
  </ion-footer-bar>
</ion-view>