<ion-view view-title="Search" hide-back-button="true">
  <div class="bar bar-subheader">
    <div class="button-bar">
      <button class="button button-light button-android" ng-click="getOutfits()">
        Outfits
      </button>
      <button class="button button-stable button-android" ng-click="">
        Clothing
      </button>
      <button class="button button-light button-android" ng-click="getPeople()">
        People
      </button>
    </div>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="white-background">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Clothing search term</span>
        <input type="text" ng-model="searchTerm" placeholder="">
    </label>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">
        Colors
      </div>
      <select ng-change="selectColor(color)" ng-model="color">
        <option class="" value=""></option>
        <option class="" ng-repeat="color in colors" value ={{color.id}}>
          {{color.name}}
        </option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Categories
      </div>
      <select ng-change="selectCategory(category)" ng-model="category">
        <option class="" value=""></option>
        <option class="" value="Shirt">Shirts</option>
        <option class="" value="Pants">Pants</option>
        <option class="" value="Skirt">Skirts</option>
        <option class="" value="Dress">Dresses</option>
        <option class="" value="Bag">Bags</option>
        <option class="" value="Shoe">Shoes</option>
        <option class="" value="Accessories">Acessories</option>
      </select>
    </label>
    <center>
      <button class="button find_button button-assertive" ng-click="advancedSearch(searchTerm)">
        Find
      </button>
    </center>
    <ion-list>
        <ion-item class="item-remove-animate item-icon-right searchitem card" ng-repeat="item in items" type="item-text-wrap" href="#/tab/search/clothing/{{index(item)}}">
          <div href="#" class="item item-icon-left">
          <i class="icon ion-{{searchIcon(item)}}"></i>
          {{item.unbrandedName}} <br/>
          <span class="subs">{{item.brand.name}}</span>
          </div>
          <div class="item item-body">
            <center>
            <img class="" ng-src="{{item.image.sizes.Large.url}}">
            </center>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
