<ion-view view-title="Wardrobe">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Clothing</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Outfits</div>
      <div class="item item-body">
        <div>
          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Jeans
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
        <a ></a>
      </div>
    </div>
  </ion-content>
</ion-view>
