<ion-view view-title="Select products">
  <ion-nav-buttons side="right">
    <button class="button icon ion-checkmark-round" ng-click="completeOutfitCreation()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-repeat="product in products" class="full-white-background">
        <div class="row" ng-if="$index%3==0">
          <div class="col col-33" ng-click="select(products[$index])">
            <center class="image_to_select">
              <img class="{{products[$index].style}}" 
              ng-src="{{products[$index].image.sizes.Medium.url}}"
              >
            </center>
          </div>
          <div class="col col-33" ng-click="select(products[$index+1])">
            <center class="image_to_select">
            <img class="{{products[$index+1].style}}"
            ng-src="{{products[$index+1].image.sizes.Medium.url}}">
            </center>
          </div>   
          <div class="col col-33" ng-click="select(products[$index+2])">
            <center class="image_to_select">
            <img class="{{products[$index+2].style}}" 
            ng-src="{{products[$index+2].image.sizes.Medium.url}}">
            </center>
          </div> 
        </div>
    </div>
  </ion-content>
</ion-view>