<ion-view view-title="Comments">
  <ion-content>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-chatbox placeholder-icon"></i>
          <input type="text" ng-model="commentTerm" placeholder="Comment">
        </label>
        <button class="button button-clear button-royal" ng-click="comment(commentTerm)">
          Comment
        </button>
      </div>
      <ol class="messages">
          <li ng-repeat="message in messages">
            <div class="message_username">
              <span><strong>{{message.username}}</strong> {{message.date}}</span>
              <br/>
              {{message.comment}}
            </div>
          </li>
      </ol>
  </ion-content>
</ion-view>
