<ion-view view-title="Advanced Search">
  <ion-content>
    <div class="button-bar">
      <a class="button button-light">Outfits</a>
      <a class="button button-light">Clothing</a>
    </div>
    <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" ng-model="searchTerm" placeholder="Search">
    </label>
    <button class="button button-clear button-royal" ng-click="advancedSearch(searchTerm)">
      Search
    </button>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">
        Colors
      </div>
      <select ng-change="selectColor(color)" ng-model="color">
        <option class="" ng-repeat="color in colors" value ={{color.id}}>
          {{color.name}}
        </option>
      </select>
    </label>
    <ion-item class="" href="#/tab/search/advanced/brand">
      <div class="" href="#">
          Select brand
        <span class="item-note">
          {{getSelectedBrand().name}}
        </span>
      </div>
    </ion-item>
      <ion-list>
        <ion-item class="item-remove-animate item-icon-right searchitem" ng-repeat="item in items" type="item-text-wrap" href="#/tab/search/clothing/{{index(item)}}">
        <div class="list card">
          <div href="#" class="item item-icon-left">
          <i class="icon ion-{{searchIcon(item)}}"></i>
          {{item.name}}
        </div>
          <div class="item item-body">
            <center>
            <img class="" ng-src="{{item.image.sizes.Large.url}}">
            </center>
          </div>
          <div href="#" class="item item-icon-left">
            <i class="icon ion-bowtie"></i>
            {{item.brand.name}}
          </div>
          <div href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            {{item.retailer.name}}
          </div>
          <div href="#" class="item item-icon-left">
            <i class="icon ion-cash"></i>
            {{item.currency}} {{item.priceLabel}}
          </div>
        </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
