<ion-view view-title="{{item.name}}">
  <ion-content>
      <div class="list card">
        <div href="#" class="item item-icon-left">
          <i class="icon ion-{{producticon(item)}}"></i>
          {{item.name}}
        </div>
        <div href="#" class="item">
          <center>
            <img ng-src="{{item.image.sizes.Large.url}}">
          </center>
        </div>
        <div href="#" class="item">          
          <strong>Brand</strong><br/>
          {{item.brand.name}}
        </div>
        <div href="#" class="item">
          <strong>Retailer</strong><br/>
          {{item.retailer.name}}
        </div>
        <div href="#" class="item">
          <strong>Color</strong><br/>
          {{item.colors[0].name}}
        </div>
        <div href="#" class="item">
          <strong>Categories</strong><br/>
          {{item.categories[0].name}}
        </div>
        <div href="#" class="item">
          <strong>Price</strong><br/>
          {{item.currency}} {{item.priceLabel}}
        </div>
        <div href="#" class="item">
          <strong>Sizes</strong><br/>
          {{item.sizes[0].name}}
        </div>
      </div> 
      <button ng-style="addToWadrobeStyle" class="button button-full button-clear button-assertive" ng-click="addToWardrobe(item)">
      Add to Wardrobe
      </button>      
  </ion-content>
</ion-view>
