<ion-view view-title="Feed">
  <ion-content>
  	<ion-refresher 
  	pulling-text="Update" 
  	on-refresh="updateFeed()">
  	</ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right searchitem" ng-repeat="update in news" type="item-text-wrap" href="#/tab/feed/outfit/{{update.outfit_id}}">
        <div class="item item-avatar item-icon-right">
          <img ng-src="{{update.image}}">
          <p>{{update.date}}</p>
          <div class="">{{update.username}} <span class="feed_action">{{update.feed_type}}</span>
          <span class="feed_outfit">{{update.outfit_name}}</span></div>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
       </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
