<ion-view view-title="Search" hide-back-button="true">
  <div class="bar bar-subheader">
    <div class="button-bar">
      <button class="button button-light button-android" ng-click="getOutfits()">
        Outfits
      </button>
      <button class="button button-stable button-android" ng-click="">
        Clothing
      </button>
    </div>
  </div>
  <ion-content>
    <br/>
    <br/>
    <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" ng-model="searchTerm" placeholder="Search clothing by name">
    </label>
    <button class="button button-clear button-royal" ng-click="advancedSearch(searchTerm)">
      Search
    </button>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">
        Colors
      </div>
      <select ng-change="selectColor(color)" ng-model="color">
        <option class="" value={{-1}}></option>
        <option class="" ng-repeat="color in colors" value ={{color.id}}>
          {{color.name}}
        </option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Categories
      </div>
      <select ng-change="selectCategory(color)" ng-model="category">
        <option class="" value={{-1}}></option>
        <option class="" value="Tops">Tops</option>
        <option class="" value="Bottoms">Bottoms</option>
        <option class="" value="Skirts">Skirts</option>
        <option class="" value="Dresses">Dresses</option>
        <option class="" value="Outwear">Outwear</option>
        <option class="" value="Bags">Bags</option>
        <option class="" value="Shoes">Shoes</option>
        <option class="" value="Accessories">Acessories</option>
      </select>
    </label>
    <ion-list>
        <ion-item class="item-remove-animate item-icon-right searchitem card" ng-repeat="item in items" type="item-text-wrap" href="#/tab/search/clothing/{{index(item)}}">
          <div href="#" class="item item-icon-left">
          <i class="icon ion-{{searchIcon(item)}}"></i>
          {{item.name}} <br/>
          <span class="subs">{{item.brand.name}}</span>
          </div>
          <div class="item item-body">
            <center>
            <img class="" ng-src="{{item.image.sizes.Large.url}}">
            </center>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
