<ion-view view-title="My Outfits">
  <ion-nav-buttons side="right">
      <button class="button icon ion-plus-round" ng-click="redirectOutfitCreation()">
      </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right searchitem" ng-repeat="item in items" type="item-text-wrap" href="#/tab/account/wardrobe/outfits/{{index(item)}}">
        <div class="item item-avatar item-icon-right">
          <img ng-src="http://cdn.flaticon.com/png/256/26819.png">
          <h2 class="">{{item.name}}</h2>
          <p>{{item.description}}</p>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
