<ion-view view-title="Create Outfit">
  <ion-content>
	  <div class="list white-background">
      <label class="item item-input item-stacked-label">
      	<span class="input-label">Name</span>
      	<input type="text" ng-model="name" placeholder="Name your outfit">
    	</label>
    	<label class="texta item item-input item-stacked-label">
    		<span class="input-label">Description</span>
        <input type="text" ng-model="description" placeholder="Write something meaningful that describes your outfit">
    	</label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Tags</span>
        <input type="text" ng-model="tags" placeholder="#Tag this outfit">
      </label>
    </div>

    <div class="item item-divider">
        Select clothing to create outfit
    </div>
    <div class="row item">
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(0)}}" ng-click="select()">
        </center>
      </div>
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(1)}}" ng-click="select()">
        </center>
      </div>
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(2)}}" ng-click="select()">
        </center>
      </div>     
    </div>

    <div class="row item">
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(3)}}" ng-click="select()">
        </center>
      </div>
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(4)}}" ng-click="select()">
        </center>
      </div>
      <div class="col col-33">
        <center>
          <img class="clothing-selector" ng-src="{{selectedClothing(5)}}" ng-click="select()">
        </center>
      </div>     
    </div>
    <br/>
    <center>
    	<button class="button find_button button-assertive" ng-click="createOutfit(name,description,tags)">
    		Create Outfit
    	</button>
  </center>
  </ion-content>
</ion-view>