<ion-view view-title="Product details">
  <ion-content>
      <div class="list card">
        <div href="#" class="item item-icon-left">
          <i class="icon ion-{{producticon(item)}}"></i>
          {{item.unbrandedName}}
        </div>
        <div href="#" class="item" ng-click="openModal()">
          <ion-slide-box on-slide-changed="slideChanged(index)" 
                             show-pager="true">
                <ion-slide ng-repeat="image in images">
                  <center>
                    <img class="slide_image" ng-src="{{image.url}}" />
                  </center>
                </ion-slide>
              </ion-slide-box>
        </div>
        <div href="#" class="item">          
          <strong>Brand</strong><br/>
          {{item.brand.name}}
        </div>
        <div href="#" class="item">
          <strong>Retailer</strong><br/>
          {{item.retailer.name}}
        </div>
        <div href="#" class="item item-text-wrap">
          <strong>Colors</strong><br/>
          {{getColors(item)}}
        </div>
        <div href="#" class="item item-text-wrap">
          <strong>Categories</strong><br/>
          {{getCategories(item)}}
        </div>
        <div href="#" class="item">
          <strong>Price</strong><br/>
          {{item.currency}} {{item.priceLabel}}
        </div>
        <div href="#" class="item item-text-wrap">
          <strong>Sizes</strong><br/>
          {{getSizes(item)}}
        </div>
      </div> 
      <button ng-style="addToWadrobeStyle" class="button button-full button-clear button-assertive" ng-click="addToWardrobe(item)">
      Add to Wardrobe
      </button>      
  </ion-content>
</ion-view>