  <ion-view view-title="Outfit details">
    <ion-content>
      <ion-refresher 
      pulling-text="" 
      on-refresh="updateOutfitInfo()">
      <br/>
      </ion-refresher>
        <div class="list card">
          <div href="#" class="item">
            <strong>Name</strong><br/>
            {{item.name}}
          </div>
          <div class="item">
            <strong>Description</strong><br/>
            {{item.description}}  
          </div>
          <div class="item">
            <strong>Creator</strong><br/>
            {{item.username}}  
          </div>
          <div class="item">
            <strong>Tags</strong><br/>
            {{item.tags_line}}
          </div>
          <div class="item item-body">
            <a href="#" ng-click="like(1,item)" class="subdued">{{item.likes}} <i class="icon ion-thumbsup"></i></a>
            <a href="#" ng-click="like(0,item)" class="subdued">{{item.dislikes}} <i class="icon ion-thumbsdown"></i></a>
            <a href="#/tab/feed/outfit/comments/{{item.id}}" class="subdued">{{item.num_comments}} <i class="icon ion-chatbox-working"></i></a>
          </div>
        </div> 
        <div class="item item-divider">
          Clothing
        </div>
        <ion-list>
          <ion-item class="item-remove-animate item-icon-right searchitem" ng-repeat="product in products" type="item-text-wrap" href="#/tab/feed/clothing/{{product.id}}">
            <div class="item item-avatar">
            <img ng-src="{{product.image.sizes.Large.url}}">
            <h2 class="">{{product.name}}</h2>
            <p>{{product.brand.name}}</p>
          </div>
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-view>