<ion-view view-title="Outfit details">
  <ion-content>
      <div class="list card">
        <div href="#" class="item">
          <strong>Name</strong><br/>
          {{item.name}}
        </div>
        <div class="item">
          <strong>Description</strong><br/>
          {{item.description}}  
        </div>
        <div class="item">
            <strong>Creator</strong><br/>
            {{item.username}}  
          </div>
          <div class="item">
            <strong>Tags</strong><br/>
            {{item.tags_line}}
          </div>
      </div> 
      <div class="button-bar">
          <a class="button outfit_actions" ng-click="like(1,item)">{{item.likes}} Likes</a>
          <a class="button outfit_actions" ng-click="like(0,item)">{{item.dislikes}} Dislikes</a>
          <a class="button outfit_actions" href="#/tab/search/outfits/comments/{{indexOutfit(item)}}">{{item.num_comments}} Comments</a>
        </div>
      <div class="item item-divider">
        Clothing
      </div>
      <ion-list>
        <ion-item class="item-remove-animate item-icon-right searchitem" ng-repeat="product in products" type="item-text-wrap" href="#/tab/search/clothing/simple/{{product.id}}">
          <div class="item item-avatar">
          <img ng-src="{{product.image.sizes.Large.url}}">
          <h2 class="">{{product.name}}</h2>
          <p>{{product.brand.name}}</p>
        </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>