<ion-view view-title="Search">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="searchTerm" placeholder="Search">
    </label>
    <button class="button button-full button-clear button-dark" ng-click="search(searchTerm)">
    Search
    </button>
      <ion-list>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/search/clothing/{{detail(item)}}">
        <div class="list card">
          <div class="item item-avatar">
            <img src="{{item.image_url}}">
            <h2>{{item.name}}</h2>
            <p>{{item.brand_name}}</p>
          </div>
          <div class="item item-body">
            <img class="" ng-src="{{item.image_url}}">
            <p>
              {{item.description}}
            </p>
          </div>
        </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>