<ion-tabs class="tabs-icon-top tabs-color-dark tabs-background-stable">
  <!-- Feed Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search/outfits">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Inspiration Tab -->
  <ion-tab title="Inspiration" icon-off="ion-ios-flower-outline" icon-on="ion-ios-flower" href="#/tab/inspiration">
    <ion-nav-view name="tab-inspiration"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>