<ion-tabs class="tabs-icon-top tabs-color-light tabs-background-royal">

  <!-- Wardrobe Tab -->
  <ion-tab title="Wardrobe" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" href="#/tab/wardrobe">
    <ion-nav-view name="tab-wardrobe"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
