<ion-tabs class="tabs-icon-top tabs-color-dark tabs-background-stable">

  <!-- Wardrobe Tab -->
  <ion-tab title="Wardrobe" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/wardrobe">
    <ion-nav-view name="tab-wardrobe"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search/outfits">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Social Tab -->
  <ion-tab title="People" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
